body,
html {
  height: 100%;
  width:100%;
  margin: 10px;
  background-image: url("https://i.ebayimg.com/images/g/evwAAOSwKZtajX3o/s-l300.jpg");
  background-position: center;
}

h1 {
    text-align: center;
    color: black;
    border-radius: 25px;
    background-color: lightcoral;
    margin: auto;
    width: 45%;
}

#trainPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#getStarted {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 30px;
    border-radius: 25px;
    background-color: lightcoral;
}

.input-group {
    display: inline-flex;
}

#submit {
    width: 10%;
}